body{
    background-color: pink;
}


img{
    border-radius: 8px;
    width: 250px;
  height: 280px;

  float: left;
  
}

.desc{
  text-align:start ;
  align-content: space-around;
  padding: 15px;
  
 
}
 .allphotos{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content:space-around;
  grid-gap: 50px;
 }


